global
        log 127.0.0.1   local0 notice
        log 127.0.0.1   local1 info
        chroot /usr/share/haproxy
        user haproxy
        group haproxy
        daemon
        maxconn 4096
        stats socket /var/run/haproxy.stat mode 600


defaults
        log     global
        option  dontlognull
        retries 3
        option redispatch
        timeout connect 500s
        timeout client 500s
        timeout server 500s

        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http


frontend  http-in
        bind *:80
        mode http
        option httplog
        acl is_from_gravee path_beg -i /gravee
 
        use_backend rephraser if is_from_gravee
        default_backend default_server


listen stats :1999
        mode http
        stats enable
        stats hide-version
        stats realm Haproxy\ Statistics
        stats uri /
        stats auth  {{stats_user}}:{{stats_password}}

backend rephraser
        mode http
        option httpclose
        option forwardfor
        server rephraser {{dns_record}}:80 check

backend default_server
        mode http
        option httpclose
        option forwardfor
        server  web-server 127.0.0.1:1337 check
        
