[Unit]
Description=Shopper Search API

[Service]
User=root
WorkingDirectory={{search_dir}}
ExecStart=/usr/bin/coffee {{repo_url}}bin/rephraser {{env}}
Restart=always

[Install]
WantedBy=multi-user.target

